:root {
    --green: #ACBF22;
    --sky: #5ECBE1;
    --purple: #7691CB;
    --pacific: #1ABFDA;
    --navy: #202B38;
    --queen: #3C4F68;
    --white: #FFF;
}

body {
    background-color: var(--navy);
}

:focus {
    outline: none !important;
}

#word-grid {
    width: auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.letters {
    width: 50px;
    height: 55px;
    background-color: transparent;
    border: 2px var(--purple) solid;
    font-size: 30px;
    color: var(--white);
    text-align: center;
    caret-color: transparent;
}

/* These are just placeholder classes, change these to however you had them before */
.g { background-color: var(--green); }
.y { background-color: var(--sky); }
.n { background-color: var(--queen); }